# System files
.DS_Store
Thumbs.db

# IDE files
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Logs
*.log

# Dependencies
node_modules/
package-lock.json
yarn.lock

# Build outputs
dist/
build/
*.zip 